#sickbed_o {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
}


#patient_o {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
}

#healthcare_o {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
}

#drug_o {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
}

#blood_o {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
}

#ambulance_o {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 30px;
}
